<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <body>
        <div class="menu-items">
            <% 
            const orderedCategories = ['Breakfast', 'Lunch', 'Dinner'];
            // const otherCategories = Object.keys(groupedMenuItems).filter(v => !(v in orderedCategories));
            // const allCategories = orderedCategories + otherCategories; // Will maintain order.
            orderedCategories.forEach(category => {
                if (groupedMenuItems[category]) {
            %>
                    <h2><%= category %></h2>
                    <div class="category-items">
                        <% groupedMenuItems[category].forEach(item => { %>
                            <div class="menu-item">
                                <img src="<%= item.image_url %>" alt="<%= item.name %>">
                                <div class = "item-details">
                                    <Strong><%= item.name %></Strong><%= item.description %> <Strong>Price:</Strong>$<%= item.price %>
                                </div>
                            </div>
                        <% }); %>
                    </div>
            <% 
                }
            });
            %>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>



    